img{
    width: 100%;
    display: block;
}

.navhover:hover{
    color: yellow;
    background-color: aqua;

}

.circle{
    padding: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
       
}

.center-image {
    display: block;
    margin: auto;
  }
  .card{
    padding: 30px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
       
}

.card-img{
    width: 50px;
    margin: 0 auto;
    height: 50px;

}

.card h5{
    text-align: center;
}

